[Unit]
Description=Service For Athios 
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/var/www/noahvarghese.me
ExecStart=/usr/bin/npm run dev
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
