@font-face {
    font-family: "Montserrat-Bold";
    src: url("./Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("./Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("./Montserrat-ExtraLightItalic.ttf");
}
