.profilePic {
    border-radius: 50%;
    height: 25em;
    width: 25em;
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    right: 20vw;
    top: 15vh;
    overflow: hidden;
    box-shadow: 2em, 2em, 3em, #888888;
    z-index: 0;
}

.profilePic > img {
    margin-top: -2em;
    width: 100%;
    box-shadow: 2em, 2em, 3em, #888888;
}