.wave1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 35vh;
    width: 101vw;
    z-index: -5;
}

.wave2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 35vh;
    width: 101vw;
    z-index: -4;
}