.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 101vw;
    z-index: -2;
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 101vw;
    z-index: -1;
}