
.aboutStyle {
    display: none;
    opacity: 0;
    width: 50vw;
    font-size: 1.5em;
    padding-top: 8vh;
    padding-left: 10vw;
    margin-bottom: 1vh;
  }

  .aboutStyle p:nth-child(1) {
    padding-top: 2vh;
  }

  @media only screen and (max-width: 768px), (max-height: 1024px), (orientation: portrait) {
    
    .aboutStyle {
      width: 90vw;
    }
  }
  
