.experienceStyle {
  display: none;
  font-size: 1.5em;
  padding-top: 8vh;
  padding-left: 10vw;
  width: 90vw;
  height: 64vh;
}
  
.projectStyle {
  width: 40vw;
  float: left;
}
  
 .skillsStyle {
  width: 38vw;
  float: right;
}
  
.linkStyle {
  width: "fit-content";
  border: "3px solid white";
  padding: 0.5em;
}

h4 a {
  border: 3px solid white;
}

h4 a:hover {
  background-color: #009ea3;
}

@media only screen and (max-width: 1920px), (max-height: 1080px) {

  .experienceStyle {
    font-size: 1em;
  }
}

@media only screen and (max-width: 420px) and (max-height: 850px) {
  .projectStyle {
    width: 90vw;
    clear: both;
    padding-right: 1em;
  }

  .skillsStyle {
    width: 90vw;
    clear: both;
    padding-top: 2em;
    padding-left: 10vw;
  }

  .skillsStyle ul {
    padding-left: 1em;
  }
}



@media only screen and (max-width: 320px), (max-height: 575) {
  .projectStyle {
    font-size: 1em;
    width: 90vw;
    clear: both;
    padding: 0;
    margin: 0;
  }

  .experienceStyle {
    padding-left: 2em;
  }

  h4 {
    width: 100vw;
  }
}
