.position {
    h3 {
        margin-bottom: 2rem;
    }
    width: 40rem;
    max-width: 95%;
    &:not(:last-of-type) {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #d3d3d3;
    }
}
