$highlight-color: #42a5f5;

html {
    font-size: 18px;
    margin: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Light;
    color: black;
}

ul {
    list-style-type: none;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    &:hover {
        color: $highlight-color;
    }
}

h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    font-family: Monsterrat, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

footer {
    border-top: 1px solid #d3d3d3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 4rem);
}

main {
    padding-bottom: 8rem;
}

nav {
    max-width: 100%;
    margin-bottom: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 4rem;

    #title {
        text-transform: uppercase;

        h1 {
            font-size: 2rem;
            font-family: Montserrat-Bold;
            color: $highlight-color;
        }
    }

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        li {
            height: 100%;
            display: inline-block;
            width: 10rem;
            max-width: 30vw;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                a {
                    color: $highlight-color;
                }
            }

            a {
                font-size: 1.2rem;
                vertical-align: middle;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-family: Roboto;
            }
        }
    }
}

#body {
    @media only screen and (min-width: 1281px) {
        margin: auto;
        max-width: 1140px;
    }

    @media only screen and (max-width: 1280px) and (min-width: 769px) {
        max-width: 100%;
    }

    @media only screen and (max-width: 768px) {
        max-width: 100%;
        margin: auto;
    }

    #message {
        font-weight: bold;
        font-size: 1.25rem;

        text-align: center;
        padding: 5rem;
    }

    #about {
        margin-top: 2rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @media only screen and (min-width: 769px) {
            align-items: flex-end;
            flex-wrap: wrap-reverse;
        }

        @media only screen and (max-width: 768px) {
            justify-content: center;
            align-items: center;
            gap: 5rem;
            flex-wrap: wrap;
        }

        #stack {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }

        #technical,
        #interpersonal {
            ul {
                list-style-type: disc;
                li {
                    margin-left: 1.5rem;
                    padding: 0.75rem 0 0 0.25rem;
                }
                ul {
                    margin-left: 0.75rem;
                }
            }
        }
    }

    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        gap: 2rem;

        @media only screen and (min-width: 769px) {
            align-items: flex-end;
        }

        @media only screen and (max-width: 768px) {
            justify-content: center;
            align-items: center;
        }

        #me {
            height: 20rem;
            img {
                height: 100%;
            }
        }

        #info {
            padding: 1rem 0 1rem 1.5rem;
            border-left: 5px solid black;
            height: min-content;

            ul {
                li {
                    display: flex;
                    flex-direction: row;
                    width: max-content;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    .infoImgContainer {
                        width: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
