@import "../styles/fadein.scss";
@import "../styles/rollout.scss";

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 2rem;
    @media not print {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    @media print {
        margin-bottom: 2rem;
    }

    align-items: center;

    @media only screen and (min-width: 900px) {
        justify-content: space-between;
    }

    @media only screen and (max-width: 899px) {
        justify-content: center;
    }

    #me {
        height: 20rem;
        img {
            height: 100%;
            opacity: 0;

            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -webkit-animation-delay: 0s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation: fadein 2s; /* Firefox < 16 */
            -moz-animation-delay: 0s;
            -moz-animation-fill-mode: forwards;
            -ms-animation: fadein 2s; /* Internet Explorer */
            -ms-animation-delay: 0s;
            -ms-animation-fill-mode: forwards;
            -o-animation: fadein 2s; /* Opera < 12.1 */
            -o-animation-delay: 0s;
            -o-animation-fill-mode: forwards;
            animation: fadein 2s;
            animation-delay: 0s;
            animation-fill-mode: forwards;
        }
    }

    #info {
        padding: 1rem 0 1rem 1.5rem;
        @media not print {
            border-left: 5px solid black;
        }
        @media print {
            border-left: 2px solid black;
        }
        height: min-content;

        ul {
            li {
                display: flex;
                flex-direction: row;
                width: max-content;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                .infoImgContainer {
                    width: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
                a,
                p {
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 15rem;
                    -webkit-animation: rollout 2s; /* Safari, Chrome and Opera > 12.1 */
                    -webkit-animation-delay: 0s;
                    -webkit-animation-fill-mode: forwards;
                    -moz-animation: rollout 2s; /* Firefox < 16 */
                    -moz-animation-delay: 0s;
                    -moz-animation-fill-mode: forwards;
                    -ms-animation: rollout 2s; /* Internet Explorer */
                    -ms-animation-delay: 0s;
                    -ms-animation-fill-mode: forwards;
                    -o-animation: rollout 2s; /* Opera < 12.1 */
                    -o-animation-delay: 0s;
                    -o-animation-fill-mode: forwards;
                    animation: rollout 2s;
                    animation-delay: 0s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}
