@media print {
    footer {
        display: none;
    }
}
@media not print {
    footer {
        #footerContent {
            margin: 0 2rem;
            border-top: 1px solid #d3d3d3;
            padding: 2rem 0;
            width: calc(100% - 4rem);
            display: flex;
            justify-content: center;
        }
        margin-top: 5rem;
        width: 100vw;
        background-color: white;
        position: fixed;
        bottom: 0;
    }
}
