@import "../styles/fadein.scss";

#message {
    font-weight: bold;
    font-size: 1.25rem;

    text-align: center;
    padding: 5rem;
    opacity: 0;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: fadein 2s; /* Internet Explorer */
    -ms-animation-delay: 1s;
    -ms-animation-fill-mode: forwards;
    -o-animation: fadein 2s; /* Opera < 12.1 */
    -o-animation-delay: 1s;
    -o-animation-fill-mode: forwards;
    animation: fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#about {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media only screen and (min-width: 769px) {
        align-items: flex-end;
        flex-wrap: wrap-reverse;
    }

    @media only screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
    }

    #stack {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    #technical,
    #interpersonal {
        ul {
            list-style-type: disc;
            li {
                margin-left: 1.5rem;
                padding: 0.75rem 0 0 0.25rem;
            }
            ul {
                margin-left: 0.75rem;
            }
        }
    }
}
