@import "../styles/colors";

nav {
    max-width: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;

    #title {
        text-transform: uppercase;

        h1 {
            font-size: 2rem;
            font-family: Montserrat-Bold;
            color: $highlight-color;
        }
    }

    @media print {
        margin-bottom: 2rem;
        align-items: flex-start;
        div > ul,
        div > button {
            display: none;
        }
    }

    @media not print {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
        z-index: 10;
        align-items: center;
        padding: 2rem;
        margin-bottom: 6rem;
        box-shadow: 4px 8px 8px rgba(44, 44, 44, 0.2);

        & > div > button {
            background-color: transparent;
            width: 3rem;
            height: 3rem;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            cursor: pointer;
            svg {
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                svg {
                    fill: $highlight-color;
                }
            }
        }
        div > ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            @media only screen and (max-width: 948px) {
                margin-top: 2rem;
            }

            li {
                height: 100%;
                display: inline-block;
                min-width: min-content;
                padding: 0 2rem;
                max-width: 30vw;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                &.selected {
                    button,
                    a {
                        color: $highlight-color;
                    }
                }

                button,
                a {
                    margin: 0;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                }

                button,
                a {
                    font-size: 1.2rem;
                    vertical-align: middle;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    font-family: Roboto;

                    text-decoration: none;
                    transition: color 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        color: $highlight-color;
                    }
                }
            }
        }
    }
}
